<h1> Create an Email! </h1>

<!-- this should be refactored using a partial -->

<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li> <%= err_msg %> </li>
  <% end %>
</ul>

<form action="<%= user_url %>" method="POST">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%=form_authenticity_token%>">

  <label for="user_email"> Email: </label>
    <input
      type="text"
      name="user[email]"
      id="user_email"
      value="<%= @user.email %>">
    </input>
    <br>

  <label for="user_password"> Password: </label>
    <input
      type="password"
      name="user[password]"
      id="user_password">
    </input>
    <br>

  <input type="submit" value="Create">
</form>
