<h1> Hello <%= @user.email %>!</h1>

<%= button_to "Logout", session_url, method: :delete %>
<br>

<a href="<%= bands_url %>"> View Bands </a>
<br>

<a href="<%=new_band_url%>"> Enter a new band </a>
